{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}
{% block body %}class="user-acount"{% endblock %}
{% block content %}
<div class="main-content">
    <div class="wrap-banner">

        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="{% url 'pages:home' %}">
                                <span>{% trans 'Home' %}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>{% trans 'My Account' %}</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>

        <div class="acount head-acount">
            <div class="container">
                <div id="main">
                    <h1 class="title-page">{% trans 'My Account' %}</h1>
                    <div class="content" id="block-history">
                        <table class="std table">
                            <tbody>
                                <tr>
                                    <th class="first_item">{% trans 'My Name' %} :</th>
                                    <td>{{ user.full_name|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'Company' %} :</th>
                                    <td>{{ user.company|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'Address' %} :</th>
                                    <td>{{ user.address|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'City' %} :</th>
                                    <td>{{ user.city|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'Postal/Zip Code' %} :</th>
                                    <td>{{ user.postal_code|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'Phone' %} :</th>
                                    <td>{{ user.phone|default:"N/A" }}</td>
                                </tr>
                                <tr>
                                    <th class="first_item">{% trans 'Country' %} :</th>
                                    <td>{{ user.country|default:"N/A" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        {% trans 'View Address' %}
                    </button>
                    <div class="order">
                        <h4>{% trans 'Order' %}
                            <span class="detail">{% trans 'History' %}</span>
                        </h4>
                        <p>{% trans "You haven't placed any orders yet." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}